.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    text-align: center;

}

.main h2 {
    font-size: 2.5rem;
    color: whitesmoke;
    margin-bottom: 20px;
}

.main p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: aliceblue;
}

.main span {
    font-size: 5rem;
    font-weight: bold;
    color: #1a39e9;
}